<footer class="footer ">
  <div class="footer-inner center-block">
    <div class="copyright">© <%- date(Date.now(), 'YYYY') %></div>
    <div class="powered-by">由<a href="https://hexo.io" >Hexo</a>驱动</div>
    <div class="theme-info">主题-<a href="https://github.com/Yohane1995/hexo-theme-plume">plume</a></div>
  </div>
</footer>
<%- js(['lib/jquery/jquery-3.2.1.min.js','lib/bootstrap/bootstrap.min.js'],['js/script.js'])%>
