@import "css/_partial/sidebar"
@import "lib/bootstrap/bootstrap.min.css"
@import "lib/font-awesome/css/font-awesome.min.css"
@import "css/content"
@import "css/post"
@import "css/archive"
@import "css/tag"
@import "css/category"
@import "css/_partial/avatar"
@import "css/_partial/paginator"
@import "css/_partial/footer"
// @import "css/_partial/article-nav"


html,body,.container
  height 100%
  width  100%
  padding 0

.article-nav
  padding 20px
